# Pandas Timeseries index

In [30]:
import pandas
from io import StringIO
from datetime import datetime, timedelta, UTC

In [31]:
# Example weather measurement data from tawes, timestamps include a timzeone information and are in iso format
tawes_utc = """
time,station,cglo_j,rr,tl_mittel,vv_mittel,p_mittel,tlmin,tlmax
1999-04-09T00:00+00:00,5925,,-1,7.4,1.0,962.1,2.2,12.6
1999-04-10T00:00+00:00,5925,,-1,8.3,1.0,957.7,-0.6,17.1
1999-04-11T00:00+00:00,5925,,-1,10.9,1.5,951.9,7.5,14.3
1999-04-12T00:00+00:00,5925,,2.5,8.1,1.0,947.4,4.5,11.7
1999-04-13T00:00+00:00,5925,,7.8,9.1,0.6,939.7,6.2,12.0
1999-04-14T00:00+00:00,5925,,0.4,6.5,1.0,945.4,0.9,12.1
1999-04-15T00:00+00:00,5925,,-1,9.5,1.5,946.4,2.9,16.0
1999-04-16T00:00+00:00,5925,,7.7,11.5,0.6,944.4,9.6,13.3
1999-04-17T00:00+00:00,5925,,2.1,7.2,1.0,942.7,4.8,9.6
1999-04-18T00:00+00:00,5925,,-1,6.7,1.0,949.9,2.5,10.9
"""

In [32]:
df = pandas.read_csv(StringIO(tawes_utc))
df['time'] = pandas.to_datetime(df['time'])
df.head(5)

,time,station,cglo_j,rr,tl_mittel,vv_mittel,p_mittel,tlmin,tlmax
0,1999-04-09 00:00:00+00:00,13305,NaN,-1.0,7.4,1.0,962.1,2.2,12.6
1,1999-04-10 00:00:00+00:00,13305,NaN,-1.0,8.3,1.0,957.7,-0.6,17.1
2,1999-04-11 00:00:00+00:00,13305,NaN,-1.0,10.9,1.5,951.9,7.5,14.3
3,1999-04-12 00:00:00+00:00,13305,NaN,2.5,8.1,1.0,947.4,4.5,11.7
4,1999-04-13 00:00:00+00:00,13305,NaN,7.8,9.1,0.6,939.7,6.2,12.0

In [33]:
df = df.set_index('time')
df.head(5)

,station,cglo_j,rr,tl_mittel,vv_mittel,p_mittel,tlmin,tlmax
time,,,,,,,,
1999-04-09 00:00:00+00:00,13305,NaN,-1.0,7.4,1.0,962.1,2.2,12.6
1999-04-10 00:00:00+00:00,13305,NaN,-1.0,8.3,1.0,957.7,-0.6,17.1
1999-04-11 00:00:00+00:00,13305,NaN,-1.0,10.9,1.5,951.9,7.5,14.3
1999-04-12 00:00:00+00:00,13305,NaN,2.5,8.1,1.0,947.4,4.5,11.7
1999-04-13 00:00:00+00:00,13305,NaN,7.8,9.1,0.6,939.7,6.2,12.0

## Accessing timeseries indizes

In [34]:
df['1999-04-09 00:00:00' : '1999-04-10 00:00:00']

,station,cglo_j,rr,tl_mittel,vv_mittel,p_mittel,tlmin,tlmax
time,,,,,,,,
1999-04-09 00:00:00+00:00,13305,NaN,-1.0,7.4,1.0,962.1,2.2,12.6
1999-04-10 00:00:00+00:00,13305,NaN,-1.0,8.3,1.0,957.7,-0.6,17.1

In [35]:
df['1999-04-09': '1999-04-10']

,station,cglo_j,rr,tl_mittel,vv_mittel,p_mittel,tlmin,tlmax
time,,,,,,,,
1999-04-09 00:00:00+00:00,13305,NaN,-1.0,7.4,1.0,962.1,2.2,12.6
1999-04-10 00:00:00+00:00,13305,NaN,-1.0,8.3,1.0,957.7,-0.6,17.1

In [36]:
df[datetime(year=1999, month=4, day=1, tzinfo=UTC): datetime(year=1999, month=4, day=10, tzinfo=UTC)]

,station,cglo_j,rr,tl_mittel,vv_mittel,p_mittel,tlmin,tlmax
time,,,,,,,,
1999-04-09 00:00:00+00:00,13305,NaN,-1.0,7.4,1.0,962.1,2.2,12.6
1999-04-10 00:00:00+00:00,13305,NaN,-1.0,8.3,1.0,957.7,-0.6,17.1

In [39]:
df[datetime(year=1995, month=1, day=1, tzinfo=UTC): datetime(year=2000, month=1, day=1, tzinfo=UTC)]

,station,cglo_j,rr,tl_mittel,vv_mittel,p_mittel,tlmin,tlmax
time,,,,,,,,
1999-04-09 00:00:00+00:00,13305,NaN,-1.0,7.4,1.0,962.1,2.2,12.6
1999-04-10 00:00:00+00:00,13305,NaN,-1.0,8.3,1.0,957.7,-0.6,17.1
1999-04-11 00:00:00+00:00,13305,NaN,-1.0,10.9,1.5,951.9,7.5,14.3
1999-04-12 00:00:00+00:00,13305,NaN,2.5,8.1,1.0,947.4,4.5,11.7
1999-04-13 00:00:00+00:00,13305,NaN,7.8,9.1,0.6,939.7,6.2,12.0
1999-04-14 00:00:00+00:00,13305,NaN,0.4,6.5,1.0,945.4,0.9,12.1
1999-04-15 00:00:00+00:00,13305,NaN,-1.0,9.5,1.5,946.4,2.9,16.0
1999-04-16 00:00:00+00:00,13305,NaN,7.7,11.5,0.6,944.4,9.6,13.3
1999-04-17 00:00:00+00:00,13305,NaN,2.1,7.2,1.0,942.7,4.8,9.6
1999-04-18 00:00:00+00:00,13305,NaN,-1.0,6.7,1.0,949.9,2.5,10.9

In [40]:
# However, when accessing a TZ aware datetime index, the indexer has to be TZ aware also:
df[datetime(year=1999, month=4, day=1): datetime(year=1999, month=4, day=10)]

TypeError: Cannot compare tz-naive and tz-aware datetime-like objects