# Reading timeseries in pandas

In [ ]:
import pandas
from datetime import datetime, timedelta
from io import StringIO

import pytz

## TZ aware ISO Formatted example

In [ ]:
# Example weather measurement data from tawes, timestamps include a timzeone information and are in iso format
tawes_utc = """
time,station,cglo_j,rr,tl_mittel,vv_mittel,p_mittel,tlmin,tlmax
1999-04-09T00:00+00:00,5925,,-1,7.4,1.0,962.1,2.2,12.6
1999-04-10T00:00+00:00,5925,,-1,8.3,1.0,957.7,-0.6,17.1
1999-04-11T00:00+00:00,5925,,-1,10.9,1.5,951.9,7.5,14.3
1999-04-12T00:00+00:00,5925,,2.5,8.1,1.0,947.4,4.5,11.7
1999-04-13T00:00+00:00,5925,,7.8,9.1,0.6,939.7,6.2,12.0
1999-04-14T00:00+00:00,5925,,0.4,6.5,1.0,945.4,0.9,12.1
1999-04-15T00:00+00:00,5925,,-1,9.5,1.5,946.4,2.9,16.0
1999-04-16T00:00+00:00,5925,,7.7,11.5,0.6,944.4,9.6,13.3
1999-04-17T00:00+00:00,5925,,2.1,7.2,1.0,942.7,4.8,9.6
1999-04-18T00:00+00:00,5925,,-1,6.7,1.0,949.9,2.5,10.9
"""

In [ ]:
df = pandas.read_csv(StringIO(tawes_utc))
df.head(5)

In [ ]:
df['time'].dtype

In [ ]:
df['time'] = pandas.to_datetime(df['time'])
df['time'].dtype

In [ ]:
df.head(5)

## TZ UNaware ISO Formatted example

In [ ]:
# Example weather measurement data from tawes, timestamps are in iso format but do not include a tz info
tawes_notz = """
time,station,cglo_j,rr,tl_mittel,vv_mittel,p_mittel,tlmin,tlmax
1999-04-09T00:00,5925,,-1,7.4,1.0,962.1,2.2,12.6
1999-04-10T00:00,5925,,-1,8.3,1.0,957.7,-0.6,17.1
1999-04-11T00:00,5925,,-1,10.9,1.5,951.9,7.5,14.3
1999-04-12T00:00,5925,,2.5,8.1,1.0,947.4,4.5,11.7
1999-04-13T00:00,5925,,7.8,9.1,0.6,939.7,6.2,12.0
1999-04-14T00:00,5925,,0.4,6.5,1.0,945.4,0.9,12.1
1999-04-15T00:00,5925,,-1,9.5,1.5,946.4,2.9,16.0
1999-04-16T00:00,5925,,7.7,11.5,0.6,944.4,9.6,13.3
1999-04-17T00:00,5925,,2.1,7.2,1.0,942.7,4.8,9.6
1999-04-18T00:00,5925,,-1,6.7,1.0,949.9,2.5,10.9
"""

In [ ]:
df = pandas.read_csv(StringIO(tawes_notz))
df.head(5)

In [ ]:
time_col_in_ns = pandas.to_datetime(df['time'])
print(time_col_in_ns.head(3))

### Setting the time to UTC

In [ ]:
time_assumed_in_utc = pandas.to_datetime(df['time'], utc=True)
print(time_assumed_in_utc.head(3))

In [ ]:
again_time_assumed_in_utc = pandas.to_datetime(df['time']).dt.tz_localize('UTC')
print(again_time_assumed_in_utc.head(3))

### Converting the time to UTC based on known timezone

In [ ]:
converted_to_utc = pandas.to_datetime(df['time']).dt.tz_localize('Europe/Vienna').dt.tz_convert('UTC')
print(converted_to_utc.head(3))

## Custom formatted datetimes

In [ ]:
tawes_custom = """
time,station,cglo_j,rr,tl_mittel,vv_mittel,p_mittel,tlmin,tlmax
09.04.1999 00:00,5925,,-1,7.4,1.0,962.1,2.2,12.6
10.04.1999 00:00,5925,,-1,8.3,1.0,957.7,-0.6,17.1
11.04.1999 00:00,5925,,-1,10.9,1.5,951.9,7.5,14.3
12.04.1999 00:00,5925,,2.5,8.1,1.0,947.4,4.5,11.7
13.04.1999 00:00,5925,,7.8,9.1,0.6,939.7,6.2,12.0
14.04.1999 00:00,5925,,0.4,6.5,1.0,945.4,0.9,12.1
15.04.1999 00:00,5925,,-1,9.5,1.5,946.4,2.9,16.0
16.04.1999 00:00,5925,,7.7,11.5,0.6,944.4,9.6,13.3
17.04.1999 00:00,5925,,2.1,7.2,1.0,942.7,4.8,9.6
18.04.1999 00:00,5925,,-1,6.7,1.0,949.9,2.5,10.9
"""

In [ ]:
# you have to specify your custom format according to https://docs.python.org/3/library/datetime.html#format-codes
format_data = "%d.%m.%Y %H:%M"

In [ ]:
df = pandas.read_csv(StringIO(tawes_custom))
df.head(5)

In [ ]:
time_col = pandas.to_datetime(df['time'], format=format_data)
print(time_col.head(5))